@import 'bambora_ui_variables';
@import '_site_primary_colors';

.hero {
    h1 {
        margin-bottom: 0;
    }

    h1, h3, p {
        text-align: center;
    }
    .row > div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.hero-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding-bottom: 60px;
    margin-bottom: 60px;

    .row {
        margin-top: 10vw;
        h1, h3, p {
            color: $lightest;
        }
    }
}

body > .container {
    margin-top: 0;
}

.hero-no-image .row {
    margin-top: 60px;
    margin-bottom: 30px;
    p {
        color: $contrast;
    }
}

.card-set {
    margin-top: 32px;
    hr {
        margin-top: 0;
        background: $darkest;
    }
}

#search-overlay .row {
    margin-top: 0;
}
